.myclass h2 {
    font-size: 5rem;
    color: red;
} 


.features {
    ul {
      margin-left: 0;
      padding-left: 15px;
    }
  }
  
  .jumbotron {
    text-align: center;
    background-image: asset-url('meeting.jpg');
    background-position: center;
    background-size: cover;
    color: #fff;
    font-family: 'Helvetica Neue' !important;
    font-stretch: expanded;
    padding-top: 25px;
    padding-bottom: 25px;
    text-shadow: -1px 0 #555, 0 1px #555, 1px 0 #555, 0 -1px #555;
  /*
    h2 {
      font-size: 35px !important;
      .lead {
        font-family: 'Helvetica Neue' !important;
        font-size: 30px !important;
      }
    } */
  }
  
  .no-left-padding {
    padding-left: 0 !important;
  }
  
  .listing {
    list-style: none;
    padding-left: 0;
  }